<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title | default: site.title }}</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.red.min.css"
    />
  </head>
  <body>
    <header class="container">
      {% if page.url != "/" %}
            {% include nav.html %}
      {% endif %}
    </header>
    <main class="container" id="content">{{ content }}</main>
    <footer class="container">
      {% if page.url != "/" %}
            {% include nav.html %}
      {% endif %}
    </footer>
  </body>
</html>
